 * { 
    box-sizing :border-box;
 }

 body {
    margin: 0;
 }

 .nav{
    background-color: rgb(221, 242, 251);
    color : black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding : 0 1rem;
    
 }

 nav a{ 
    color: inherit;
 }